<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read(All)</title>
</head>
<body>
    <h1>ALL USERS</h1>
        <div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Full Name </th>
                    <th>Email</th>
                    <th>Created At</th>
                </tr>
                {% for user in all_users %}
                <tr>
                    <td>{{user['id']}}</td>
                    <td>{{user['first_name']}} {{user['last_name']}}</td>
                    <td>{{user['email']}}</td>
                    <td>{{user['created_at']}}</td>
                    <td><a href="/users/{{user['id']}}">Show</a>   |  <a href="/users/{{user['id']}}/edit">Edit</a>  |  <a href="/delete/{{user['id']}}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
            <a href="/users/create">Add a new user</a>
        </div>
</body>
</html>